[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
gunicorn = "*"
requests = "*"
fastparquet = "*"
python-snappy = "*"
pandas = "*"
"s3fs" = "*"
numpy = "*"

[dev-packages]
pylama = "*"
pylama-pylint = "*"

[requires]
python_version = "3.6"
